<app-navbar [user]="user"></app-navbar>
<main>

    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
       
      </div>
      <div class="container pt-lg-md">
        
        <div class="row justify-content-center">
          
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
               
                <form [formGroup]="form" (ngSubmit)="OnSubmitRegister()">
                  <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-badge"></i></span>
                      </div>
                      
                      <select class="form-control" formControlName="especialidad" [(ngModel)]="espeSeleccionada" (change)="capturarEspe()" (focus)="focus1=true" (blur)="focus1=false">
                        <option value="0">Selecciona una opción</option>
                        <option [value]="especialidad.idEspecialidad" *ngFor="let especialidad of especialidadesT">
                          {{especialidad.nombre}}
                        </option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'focused':focus2===true}">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-badge"></i></span>
                      </div>
                      
                      <select class="form-control" formControlName="profesional" [(ngModel)]="profSeleccionada" (change)="capturarProf()" (focus)="focus2=true" (blur)="focus2=false" >
                        <option value="0">Selecciona una opción</option>
                        <option [value]="profesional.dni" *ngFor="let profesional of profesionalesT">
                          {{profesional.apellido}}
                        </option>
                    </select>
                    </div>
                  </div>
                  <div *ngIf="profSeleccionada!=0" class="text-center">
                    <button type="button" class="btn btn-primary my-4" type="button" (click)="mostrarCalend()" >Mostrar Calendario</button>
                  </div>
                  
                </form>
                <div *ngIf="mostrarCalen" >
                  <ngb-datepicker [displayMonths]="1" [navigation]="navigation"
                                  [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays"
                                  [minDate]="today"
                                  [maxDate]="maxDate"
                                  [markDisabled]="isDisabled"
                                  #d1 [(ngModel)]="model1" #c1="ngModel" (click)="capturarDia(model1)"
                  >
                  </ngb-datepicker>
                  <p>{{model1 | json}}</p>
                  <div *ngIf="diaSeleccionada!=0" class="card">
                    <div class="card-header"><strong>Horarios disponibles</strong></div>
                    <div class="card-body" (change)="tomarRadio($event)">
                      <!--ACA METO EL TURNO A SELECCIONAR, SALE DE EL TURNO MAÑANA Y TARDE Y LA DURACION DE ESOS TURNOS-->
                      <div *ngIf="lu==0">
                        <label><strong> Lunes</strong></label>
                        <div *ngIf="lu8">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosM">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                
                                  </span>{{item}}</label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="lu13">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosT">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="ma==0">
                        <label><strong>Martes</strong></label>
                        <div *ngIf="ma8">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosM">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="ma13">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosT">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="mi==0">
                        <label><strong>Miércoles</strong></label>
                        <div *ngIf="mi8">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosM">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="mi13">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosT">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="ju==0">
                        <label><strong>Jueves</strong></label>
                        <div *ngIf="ju8">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosM">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="ju13">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosT">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="vi==0">
                        <label><strong> Viernes</strong></label>
                        <div *ngIf="vi8">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosM">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="vi13">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosT">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="sa==0">
                        <label><strong>Sábado</strong></label>
                        <div *ngIf="sa8">
                          <div class="row" >
                            <div class="col-3" *ngFor="let item of turnosM">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input " [id]="item" name=turn>
                                  <span class="form-check-sign">                    
                                  </span> {{item}} </label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--div class="card-footer">
                      <p>Turno</p>
                      <tr>
                        <td>{{turno.id}}</td>
                        <td>{{turno.especialidad}}</td>
                        <td>{{turno.profesional}}</td>
                        <td>{{turno.paciente}}</td>
                        <td>{{turno.especialidad}}</td>
                        <td>{{turno.profesional}}</td>
                        <td>{{turno.paciente}}</td>
                      </tr>
                    </div-->
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4" type="submit" [disabled]="!form.valid">Sacar Turno</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  